<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Penjualan</title>
</head>
<body>
    <h1>Prediksi Penjualan</h1>
    <form action="/predict" method="post">
        <label for="month">Month:</label>
        <input type="text" id="month" name="month"><br><br>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year"><br><br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender"><br><br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        <label for="category">Product Category:</label>
        <input type="text" id="category" name="category"><br><br>
        <label for="spending">Total Spending:</label>
        <input type="text" id="spending" name="spending"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
